Expandable Timer Watch App/Assets.xcassets/AccentColor.colorset/Contents.json
Expandable Timer Watch App/Assets.xcassets/AppIcon.appiconset/Contents.json
Expandable Timer Watch App/Assets.xcassets/Contents.json
Expandable Timer Watch App/ContentView.swift
Expandable Timer Watch App/Expandable_TimerApp.swift
Expandable Timer/Expandable_Timer.swift
Expandable Timer/Expandable_TimerExtension.swift
Expandable Timer/Info.plist
ExpandableTimer Watch App/Assets.xcassets/AccentColor.colorset/Contents.json
ExpandableTimer Watch App/Assets.xcassets/AppIcon.appiconset/Contents.json
ExpandableTimer Watch App/Assets.xcassets/Contents.json
ExpandableTimer Watch App/ContentView.swift
ExpandableTimer Watch App/ExpandableTimerApp.swift
Resources/Simulator Screen Recording - iPhone 17 Pro Max - 2025-12-15 at 07.58.36.mov
